.game {
  display: flex;
  flex-wrap: wrap;

  align-content: flex-start;

  width: 500px;
  height: 500px;
}

.cell {
  // width: 30px;
  // height: 30px;
  background-color: crimson;
  // border: 1px white solid;

  // width: 10%;
  // height: 10%;
  box-sizing: border-box;
}
